@tailwind base;
@tailwind components;
@tailwind utilities;
* body {
 
  background-color: #000000;
}
/* Variable Font: Erode (Normal) */

/* Non-Variable Font: DM Serif Display */
/* @font-face {
  font-family: "DM-It";
  src: url("src/assets/Fonts/DMSerifDisplay-Italic.ttf") format("truetype");
  font-weight: 100 900; 
  font-style: italic;
} */

/* For Webkit Browsers (Chrome, Edge, Safari, Opera) */
::-webkit-scrollbar {
  width: 14px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #fd0505;
  /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    #000000,
    #000000
  ); /* Thumb gradient color */
  border-radius: 90px; /* Rounded edges */
}

/* For Firefox */

/* For Internet Explorer & Edge Legacy */
body {
  -ms-overflow-style: scrollbar; /* Ensures scrollbars are visible */
}
